@import "~bootstrap/scss/bootstrap";

ul {
    list-style-type: none;

    li {
        display: inline-block;
    }

    .link {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
    }

    .link.active {
        background-color: lightcyan;
    }
}

.header-container {
    width: 100%;
    height: 90px;
    display: flex;
}

.logo-container {
    height: 90px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 70px;
}

.link-container {
    height: 90px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-container {
    height: 90px;
    width: 20%;
    display: flex;
    align-items: center;
}

.jumbotron {
    width: 100%;
    height: 340px;
}

.jumbo-img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.main-section {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: calc(100% / 6 - 20px);
    aspect-ratio: 1;
    margin-top: 30px;
    background-color: orange;
}
